$first-font-color: rgba(201, 132, 5, 0.692);
$second-font-color: rgba(44, 29, 1, 0.692);
$third-font-color: rgba(26, 16, 16, 0.733);

$first-background-color: rgb(145, 145, 145);
$second-background-color: rgb(245, 202, 202);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

